footer {
    width: 100vw;
    height: 10vh; /* Define uma altura adequada para o footer */
    display: flex;
    justify-content: flex-end; /* Alinha o botão à direita */
    align-items: center; /* Centraliza o botão verticalmente */
    position: fixed; /* Mantém o footer fixo no final da página */
    bottom: 0;
}

#btn_github {
    width: 4vw; /* Ajuste de largura para o botão */
    height: 4vw; /* Ajuste de altura para o botão */
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2vw; /* Ajuste no tamanho do ícone */
    transition: transform 0.3s ease;
    margin-right: 2vw; /* Espaçamento da borda direita */
}

#btn_github:hover {
    transform: scale(1.3); /* Efeito de zoom suave no hover */
}


@media(max-width: 480px) {

}