header {
   width: 100vw;
   height: 15vh;

   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #00001C;
}

#logo_profisao {
   display: flex;
   align-items: center;
   justify-content: flex-start; /* Alinhamento à esquerda */
   width: 45vw;
   padding-left: 2vw; /* Afastar da borda lateral */
   padding-top: 1vh; /* Afastar da borda superior */
}

#img_logo {
   width: 6vw;
   height: 6vw;
   margin-right: 1vw;
   overflow: hidden;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

#img_logo img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.5s ease-in-out; /* Transição suave para a rotação */
}

#img_logo:hover img {
   transform: rotate(360deg); /* Rotaciona a imagem 360 graus no hover */
}


#logo_profisao h3 {
   font-size: 1.5vw;
   color: #ffffff;
}


#btns_paginas {
   width: 45vw;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.btn {
   background-color: transparent;
   border: none;
   padding: 1vh 2vw; 
   width: 10vw; 
   height: 6vh; 
   color: white;
   font-size: 1.2vw; 

  
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   border-radius: 50px; 
   transition:all 0.2s ease-in-out;
   cursor: pointer;
}

#btn_home {
   background-color: #10203e;
}

#btn_formacao {
   background-color: #0d2546;
}

#btn_projetos {
   background-color: #10203e;
}

.btn:hover{
   width:11vw;
}
