@import url(./header.css);
@import url(./infos.css);
@import url(./footer.css);
@import url(./section.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* @font-face {
    font-family: 'fontP';
    src: url(./../assets/fonts/Merriweather.zip);
} */
/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif; /* Corrigido para manter o Montserrat como fonte primária */
    background-color: #141A34;
}

img {
    width: 100%;
    height: auto; /* Altere para auto para manter a proporção correta */
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    body {
        font-size: 4vw; /* Aumenta o tamanho da fonte para melhor leitura em telas menores */
    }

    img {
        width: 100%;
        height: auto; /* Garante que as imagens mantenham a proporção em dispositivos móveis */
    }
}
