/* Container da section para alinhar elementos */
section {
    display: flex;
    justify-content: flex-start; /* Alinhar ao início */
    align-items: flex-start; /* Alinhar ao topo */
    height: 70vh; /* Altura total da tela */
    padding: 8vw 13vw 0 13vw; /* Reduzi o padding-top para mover a imagem para cima */
    box-sizing: border-box;
    position: relative;
}

/* Estilo para a imagem principal */
#img_principal img {
    width: 40vw;
    height: 70vh;
    z-index: 1;
    animation: teste 1s forwards;
    /* Mover imagem ainda mais para cima, se necessário */
    margin-top: -2vh; /* Ajuste fino adicional para mover ainda mais */
}

/* Informações ao lado da imagem */
#infos {
    width: 30vw;
    margin-left: auto; /* Afasta o bloco de informações para a direita */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 3vh;
}

/* Estilos para os textos */
#primeiro_nome, #segundo_nome {
    font-size: 2vw;
    color: #ffffff;
}

#texto_nome {
    font-size: 1vw;
    color: #ffffff;
}



@media(max-width: 480px) {

}