section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 70vh;
    padding: 8vw 13vw 0 13vw;
    box-sizing: border-box;
    position: relative;
}

#img_principal img {
    width: 40vw;
    height: 70vh;
    z-index: 1;
    animation: teste 1s forwards;
    margin-top: -8vh;
}

#infos {
    width: 30vw;
    margin-left: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 3vh;
}

#primeiro_nome, #segundo_nome {
    font-size: 2vw;
    color: #ffffff;
}

#texto_nome {
    font-size: 1vw;
    color: #ffffff;
}

@media (max-width: 480px) {
    section {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        height: auto; 
        padding: 5vw;
    }


    #img_principal img {
        width: 80vw; 
        height: auto; 
        margin-top: 0; 
    }

    #infos {
        width: 80vw; 
        margin-left: 0; 
        padding-top: 2vh;
        text-align: center; 
        align-items: center; 
    }

    #primeiro_nome, #segundo_nome {
        font-size: 6vw; 
    }

    #texto_nome {
        font-size: 4vw; 
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    section {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center; 
        
        height: auto;
        padding: 5vw 8vw; 
    }

    #img_principal img {
        width: 45vw; 
        height: auto; 
        margin-top: 0; 
    }

    #infos {
        width: 45vw; 
        margin-left: 0;
        padding-top: 2vh;
        align-items: flex-start; 
        text-align: left; 
    }

    #primeiro_nome, #segundo_nome {
        font-size: 3vw; 
    }

    #texto_nome {
        font-size: 1.5vw; 
    }
}