#banners {
    margin-top: 5vh;
    width: 400vw;
    height: 35vh;
    display: inline;

    left: 0;
    top: 27vh;
    position: absolute;

    display: flex;
    flex-direction: row;
    transition: all 0.3s ease-in-out;
}
.banner {
    width: 90vw;
    height: 35vh;
    margin: 0 5vw;
    color: white;
    border: 0;
    border-radius: 2vw;
}
.banner h1{
    font-size: 3.5vw;
    text-align: left;
    margin-left: 1.5vw;
}
.banner p{
    font-size: 1.5vw;
    margin-left: 1.5vw;
}

#id-banner1 {
    background-color: #e8b98f; /* cor pastel laranja escura */
}
#id-banner2 {
    background-color: #a7d5ba; /* cor pastel verde escura */
}
#id-banner3 {
    background-color: #ffb3b3; /* cor pastel rosa escura */
}
#id-banner4 {
    background-color: #b3d0f0; /* cor pastel azul escura */
}


#btns-banners {
    width: 10vw;
    height: 5vh;

    position: absolute;
    left: 45vw;
    top: 62vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btn-banner {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: white;
    border: none;
}
