/* Estilização geral */
body {
  font-family: Arial, sans-serif;
  background-color: #141A34; /* Fundo azul escuro */
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-x: hidden; /* Previne barra de rolagem horizontal */
}

header {
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0,0,28);
  background: linear-gradient(90deg, rgba(0,0,28,1) 10%, rgba(42,146,201,1) 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

header h1 {
  font-size: 2.5vw;
  margin: 0;
}

/* Estilização do container de cartões */
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 4 cartões por fileira */
  grid-gap: 2vw; /* Espaçamento entre os cartões */
  padding: 2vw;
  width: 100%; /* Usa 100% da largura disponível */
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; /* Inclui o padding na largura total */
}

/* Estilização dos cartões */
.card {
  background-color: #1B2540;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  color: #ffffff;
  font-size: 1.3em;
  cursor: pointer;
  width: 100%;
  height: auto;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
