@import url(./telaCadastro.css); /* Ajuste o caminho se necessário */
@import url(./telaAtt.css);

.container {
  display: flex;
  flex-wrap: wrap; /* Permite que os cartões quebrem para a linha seguinte */
  justify-content: center; /* Centraliza os cartões */
  padding: 1vw;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden; /* Não queremos rolagem horizontal */
  color: white;
}

#cartoes {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colunas iguais */
  gap: 1vw; /* Aumenta o espaço entre os cartões */
}

.cartao {
  background-color: #12172e;
  padding: 1vw;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;

  width: 15vw; /* Largura em vw */
  height: auto; /* Ajusta a altura automaticamente */
  min-height: 20vw; /* Define uma altura mínima para manter o layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word; /* Quebra palavras longas para caber na largura */
  overflow: hidden; /* Evita que conteúdo extra transborde */
}

.cartao:hover { /* Mudança de .card:hover para .cartao:hover */
  transform: scale(1.05); /* Aumenta levemente o cartão ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra mais forte ao hover */
}

.button_card {
  background-color: #1B2540;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  margin: 5px;
}

.button_card:hover {
  background-color: #141A34;
  transform: translateY(-2px);
}

.button_card:active {
  transform: translateY(0);
}
