<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/formacao.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Formação - Portfólio Alícia</title>
    <script type="module" src="../../controller/formacao.js" defer></script>
</head>
<body>
    <header>
        <h1>Formação</h1>
    </header>
    <section id="main-section">
       
    </section>
</body>
</html>
