<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/8f497cd43a.js" crossorigin="anonymous"></script>
    <title>Portifólio Alícia</title>
</head>

<body>
    <header>
        <div id="logo_profisao">
            <div id="img_logo">
                <img src="https://tse3.mm.bing.net/th?id=OIG1.d1w8iDVdlN0AXSAEeLtV&w=270&h=270&c=6&r=0&o=5&dpr=1.3&pid=ImgGn"
                    alt="">
            </div>
            <h3>Aluna de Programação Web</h3>
        </div>
        <div id="btns_paginas">
            <button class="btn" id="btn_home" onclick="window.location.href = './index.html'">
                <h6>Home</h6>
                <i class="fa-solid fa-house"></i>
            </button>
            <button class="btn" id="btn_formacao" onclick="window.location.href = './formacao.html'">
                <h6>Formação</h6>
                <i class="fa-solid fa-graduation-cap"></i>
            </button>
            <button class="btn" id="btn_projetos" onclick="window.location.href = './projetos.html'">
                <h6>Projetos</h6>
                <i class="fa-solid fa-file-invoice"></i>
            </button>
        </div>
    </header>
    <section>
        <div id="img_principal">
            <img src="https://tse2.mm.bing.net/th?id=OIG4.lkezx4FoZ.E_kznL9Gjr&pid=ImgGn" alt="">
        </div>
        <div id="infos">
            <h1 id="primeiro_nome">Alícia</h1>
            <h1 id="segundo_nome">Bordignon</h1>
            <p id="texto_nome">Oloco ai sim mn </p>
        </div>
    </section>

    <footer>
        <button class="btn" id="btn_github">
            <i class="fa-brands fa-github"></i>
        </button>
    </footer>

</body>

</html>